@model ShopOnlineSystem.Models.ModelView.UserView
@{
    ViewBag.Title = "userSetting";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">
    <div class="col-12 col-lg-6">
        <h2 class="mb-3">Quản lý tài khoản</h2>
        <form action="@Url.Action("updateAdminDAO")" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" value="@Model.username"  disabled name="" class="form-control form-control-user" id="inputUsername" placeholder="Username" required>
                </div>
                <div class="col-sm-6">
                    <input type="email" disabled name="" value="@Model.email" class="form-control form-control-user" id="inputEmail" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" value="@Model.pwd" name="pwd" class="form-control form-control-user" id="inputPassword" placeholder="Mật khẩu" required>
                </div>
                <div class="col-sm-6">
                    <input type="password" value="@Model.pwd" name="repwd" class="form-control form-control-user" id="inputPassword2" placeholder="Nhập lại mật khẩu" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" value="@Model.name" name="name" class="form-control form-control-user" id="inputName" placeholder="Tên" required>
                </div>
                <div class="col-sm-6">
                    <input type="text" value="@Model.uAddress" name="uAddress" class="form-control form-control-user" id="inputAddress" placeholder="Địa chỉ" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" value="@Model.phone" name="phone" class="form-control form-control-user" id="inputPhone" placeholder="Số điện thoại" required>
                </div>
                <div class="col-sm-6">
                    <input type="text" value="@Model.zipcode" name="zipcode" class="form-control form-control-user" id="inputZipcode" placeholder="Zip code" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    @{
                        if (Session["Error"] != null)
                        {
                            <div class="small text-center text-danger">
                                <p id="txtValidateUsername">@Session["Error"].ToString()</p>
                            </div>
                        }
                        else
                        {
                            if (Session["Success"] != null)
                            {
                                <div class="small text-center text-success">
                                    <p id="txtValidateUsername">@Session["Success"].ToString()</p>
                                </div>
                            }
                            else
                            { }
                        }
                    }
                    <button type="submit" class="btn btn-success btn-user btn-block">Cập nhật thông tin</button>
                </div>
            </div>
        </form>
    </div>
</div>
@{ 
    Session["Error"] = null;
    Session["Success"] = null;
}
<script src="@Url.Content("~/content/admin/assets/")js/validation.js"></script>

