
@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Catagories</h6>

        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                @foreach (var item in ViewBag.Cat as List<ShopOnlineSystem.Models.ModelView.Category>)
                {
                    <li><a href="@Url.Action("Category", new { id = item.ID,pageindex = "0"})">@item.name</a></li>
                }
            </ul>
        </div>
    </div> 
</div>
<div class="amado_product_area section-padding-100">
    <div class="container-fluid">

        <div class="row">
            @foreach (var item in ViewBag.Prod as List<ShopOnlineSystem.Models.ModelView.ProductView>) {
            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                <div class="single-product-wrapper">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="@Url.Content("~/content/picture/admin/Product/")@item.picture" alt="">
                        <!-- Hover Thumb -->
                        <img class="hover-img" src="@Url.Content("~/content/picture/admin/Product/")@item.picture" alt="">
                    </div>

                    <!-- Product Description -->
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">@item.price</p>
                            <a href="@Url.Action("Product",new { id = item.id})">
                                <h6>@item.name</h6>
                            </a>
                        </div>
                        <!-- Ratings & Cart -->
                        <div class="ratings-cart text-right">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="cart">
                                <a href="cart.html" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination justify-content-end mt-50">
                        @{int stock = (ViewBag.Cate as ShopOnlineSystem.Models.ModelView.Category).ProductCount;}
                        @{int catid = (ViewBag.Cate as ShopOnlineSystem.Models.ModelView.Category).ID;}
                        @{ int stt = 1;}
                        @for (int i = 0; i <= (stock / 10); i++)
                        {
                            int count = stock;
                            if (count != 0)
                            {
                                if (ViewBag.Page == stt)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Category",new {id=catid, pageindex = (stt-1)})">@stt.</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Category",new {id=catid, pageindex = (stt-1)})">@stt.</a></li>
                                }
                            }
                            stt++;
                            count -= 10;
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

