@model ShopOnlineSystem.Models.ModelView.UserView
@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>Thông tin tài khoản</h2>
                    </div>

                    <form action="@Url.Action("UpdateUserDAO")" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" name="username" class="form-control" id="inputUsername" value="@Model.username" placeholder="Username" readonly>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="email" name="email" class="form-control" id="inputEmail" value="@Model.email" placeholder="Email" readonly>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="password" name="pwd" class="form-control" id="inputPassword" value="@Model.pwd" placeholder="Mật khẩu" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="password" name="repwd" class="form-control" id="inputPassword2" value="@Model.repwd" placeholder="Nhập lại mật khẩu" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="name" class="form-control" id="inputName" value="@Model.name" placeholder="Tên" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="uAddress" class="form-control" id="inputAddress" value="@Model.uAddress" placeholder="Địa chỉ" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="phone" class="form-control" id="inputPhone" value="@Model.phone" placeholder="Số điện thoại" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="zipcode" class="form-control" id="inputZipcode" value="@Model.zipcode" placeholder="Zip code" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <button type="submit" class="btn amado-btn w-100">Cập nhật thông tin</button>
                            </div>
                            <div class="col-md-6 mb-3">
                                <a href="#" class="btn amado-btn w-100 active">Xóa tài khoản</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Custom scripts for all pages-->
<script src="@Url.Content("~/content/admin/assets/")js/validation.js"></script>